body {
  font-size: 16px;
}
.card-table {
  width: 100%;
  border-spacing: 0;
}
.card-table th,
.card-table td {
  border: 1px solid #e5e5e5;
  padding: 10px;
}
.card-table th {
  background-color: #ededed;
}
.discount {
  border: 1px solid green;
  border-radius: 10px;
  background-color: rgb(21, 177, 125);
  padding: 10px;
  color: white;
  letter-spacing: 2px;
}
.hidden {
  display: none;
}
